*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;;
    background-color: rgba(23, 23, 104, 0.938);
  }
body{
    font-family: poppins;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
}
  nav{

    width: 85%;
    margin: 40px auto;
    display: flex;
    z-index: 1;
    align-items: center;
    position: relative;
  }
  .logo{
    flex-basis: 20%;
  }
  .logo img{
    top: -40px;
    position: absolute;
    height: 120px;
    width: 120px;
  }
  .navlinks{
    flex: 1;
    text-align: right;
  }
  .navlinks ul li{
    display: inline-block;
    margin: 0px 20px;
    list-style: none;
  }
  .navlinks ul li a button{
    padding: 5px;
    background: transparent;
    font-size: 15px;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;

  }
  .navlinks button:hover{
    border-bottom: 3px solid white;
  }
  .navlinks #Placement{
    border-bottom: 3px solid white !important; 
  }
  
  .navlinks marquee{
    color: white;
    padding-top: 10px;
    font-size: 18px;
    line-height: 35px;
    font-family: cursive;
  }
  .wrapper{
    width: 85%;
    margin: 20px auto;
  }
  .wrapper h2{ 
    font-weight: 800 ;
    width: 110px;
    padding-top: 7px;
    color: white;
    margin-top:70px;
    border-top: 3px solid white;
  }
 .topics h1{
     color: rgb(38, 176, 240);
     padding-top: -25px;
 }
 .topics p{
     color: white;
     padding-top: 10px;
     font-size: 18px;
     line-height: 35px;
     font-family: cursive;
      
 }
 .background{
   top: 30px;
   position: absolute;
   height: 800px;
   width: 600px;
   
 }